.brandIcon {
	width: 30px;
	height: 30px;
	margin-right: 5px;
	margin-left: 5px;
}

.spotifyPlaylistEmbedWrapper {
	padding: 0 0 141.42% 0; // https://gordonlesti.com/bootstrap-responsive-embed-aspect-ratio/
	@extend .embed-responsive;
}

.spotifyPlaylistEmbed {
	@extend .embed-responsive-item;
}

.SpotifyPlaylistList {
	width: 100%;
}

.PlaylistListItemImage {
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.5em;
}

.PlaylistListItemSpinner.spinner-border {
	width: 1.5em;
	height: 1.5em;
}

@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";
