.brandIcon {
	width: 30px;
	height: 30px;
	margin-right: 5px;
	margin-left: 5px;
}

.spotifyPlaylistEmbed {
	@extend .embed-responsive-item;
}

.SpotifyPlaylistList {
	width: 100%;
}

.PlaylistListItemImage {
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.5em;
}

.PlaylistListItemSpinner.spinner-border {
	width: 1.5em;
	height: 1.5em;
}

@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

// This must come after the bootstrap imports to correctly override. See https://stackoverflow.com/a/50343665/1222411
.spotifyPlaylistEmbedWrapper {
	@extend .embed-responsive;

	padding-bottom: 141.42%; // https://gordonlesti.com/bootstrap-responsive-embed-aspect-ratio/
}

.spotifyPlaylistEmbedWrapperCol {
	@extend .col-md-4;
}

.selectedPlaylist {
	@extend .list-group-item-action, :hover;
}

.tab-content {
	margin-top: 1em;
}

.playlistNameInput {
	width: 100%;
}

.goButton {
	@extend .btn-success;

	width: 100%;
}

label {
	> input {
		@extend .form-control;
	}

	> select {
		@extend .form-control;
	}
}

form > .formRow > .col {
	@extend .col-md-6;
}
