.brandIcon {
	width: 30px;
	height: 30px;
	margin-right: 5px;
	margin-left: 5px;
}

.SpotifyPlaylistList {
	width: 100%;
}

.PlaylistListItemImage {
	width: 1.5em;
	height: 1.5em;
	margin-right: 0.5em;
}

@import "~bootswatch/dist/darkly/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/darkly/bootswatch";

div > .row {
	> .pillColumn {
		@extend .col-12;
		@extend .col-lg-3;
	}

	> .tabContentColumn {
		@extend .col-12;
		@extend .col-lg-9;
	}
}

.selectedPlaylist {
	@extend .list-group-item-action, :hover;
}

.tab-content,
.container > .row {
	margin-top: 1em;
}

.tab-pane {
	form > .formRow > .col {
		@extend .col-12;
		@extend .col-md-6;

		label {
			> input {
				@extend .form-control;
			}

			> select {
				@extend .form-control;
			}
		}

		.playlistNameInput {
			width: 100%;
		}
	}

	> .row.spotifyToIgnition > .col {
		@extend .col-12;
	}

	.ignitionQueryOption {
		@extend .col-6;
		@extend .col-lg-4;
	}

	.table {
		margin-bottom: 0;
	}
}

.spinner-border {
	width: 1em;
	height: 1em;
}
